*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: url("assets/images/test.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

h1, h2, h3 {
    margin: 0;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: background-color .2s linear, border .2s linear;
}

input[type="checkbox"]:checked {
    background-color: black;
    border: 6px white solid;
}

input[type="checkbox"]:hover {
    background-color: white;
    border: 6px black solid
}

input[type="checkbox"]:checked:hover {
    background-color: black;
    border: 6px white solid;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    margin: 0 0 0 9px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: background-color .2s linear, border .2s linear;
}

input[type="radio"]:checked {
    background-color: black;
    border: 6px white solid;
}

input[type="radio"]:hover {
    background-color: white;
    border: 6px black solid;
}

input[type="radio"]:checked:hover {
    background-color: black;
    border: 6px white solid;
}
/*  Header  */
.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.text__head {
    margin-left: -3%;
    padding-top: 4%;
    padding-bottom: 4%;
    color: #ffffff;
    font-family: fantasy;
    font-size: 25px;
}

.container__head {
    display: flex;
    background-color: rgba(203, 119, 193, 0.85);
    width: 100%;
    max-width: 37%;
    margin: 2% auto;
    border-radius: 20px;
}

.image__head {

    padding-top: 4%;
}

/*  Main  */

.main {
    display: flex;
    flex-direction: column;
}

.main__container {
    position: relative;
    width: 100%;
    max-width: 55%;
    margin: 0 auto;
    background-color: rgba(203, 119, 193, 0.85);
    border-radius: 20px;
}

.main__text {
    text-align: center;
    font-family: fantasy;
    font-size: 22px;
    max-width: 50%;
    margin: 0 auto 0;
    color: #333;
    background-color: rgba(248, 161, 237, 0.85);
    border-radius: 20px;
    border: 1px black solid;
}

.text {
    text-align: center;
    width: 33%;
    font-family: fantasy;
    font-size: 20px;
    color: #333;
    margin: 1% 2%;
    background-color: rgba(248, 161, 237, 0.85);
    border-radius: 20px;
    border: 1px solid black;
}
.text select:focus {
    outline: none;
}

.text input:focus {
    outline: none;

}

.text input:focus::placeholder {
    color: transparent;
}

.input_style {
    width: 90%;
    height: 40PX;
    margin: 8% auto;
    font-family: fantasy;
    font-size: 15px;
    background-color: rgba(255, 238, 253, 0.85);
    border-radius: 10px;
    text-align: center;
    border: 0;
}

.slider {
    margin-top: 2%;
    display: flex;
}

.picture {
    margin: 0 18%;
    margin-bottom: 3%;
    background-color: rgba(248, 161, 237, 0.85);
    padding: 2%;
    border-radius: 20px;
    border: 1px solid black;
}

.button__border {
    height: 200px;
    margin-top: 3%;
    margin-left: -6%;
    width: 25%;
    background-color: rgba(248, 161, 237, 0.85);
    border-radius: 75px;
    border: 1px solid black;
}

.main__button {
    width: 75%;
    height: 25%;
    margin-left: 12%;
    margin-top: 37%;
    font-family: fantasy;
    font-size: 25px;
    background-color: rgba(255, 238, 253, 0.85);
    border: 0;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: background .3s, box-shadow .3s, color .3s, transform .3s;
}

.main__button:hover {
    background: rgba(255, 125, 240, 0.85);
    box-shadow: 0 15px 20px rgba(206, 71, 190, 0.85);
    color: white;
    transform: translateY(-7px);
}

div.text > label {
    width: 20px;
    height: 30px;
    font-size: 23px;
    margin-right: 9px;
    margin-left: 11px;
    display: inline-block;
    text-align: center;
}


@media (max-width: 1535px) {
    input[type="radio"] {
        width: 15px;
        height: 15px;
    }

    div.text > label {
        font-size: 20px;
    }
}

@media (max-width: 1440px) {
    div.text > label {
        margin-right: 7px;
    }
}

@media (max-width: 1385px) {
    .text__head {
        font-size: 20px;
        line-height: 31px;
    }
}

@media (max-width: 1268px) {
    input[type="radio"] {
        margin-left: 3px;
    }
}

@media (max-width: 1218px) {
    .text__head {
        font-size: 15px;
    }

    .button__border {
        height: 166px;
        border-radius: 83px;
    }
}

@media (max-width: 1156px) {
    .main__text {
        font-size: 15px;
    }

    div.text > label {
        margin-right: 0;
    }
}

@media (max-width: 945px) {
    .picture {
        margin: 0 12%;
    }
}

@media (max-width: 750px) {
    .main__container {
        max-width: 90%;
    }

    .container__head {
        max-width: 60%;
    }
}
.link {
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
}
.cell {
    right: 0;
    top: 10px;
    cursor: pointer;
}
.table_container {
    width: 80%;
    margin-left: 15%;
    margin-top: -450px;
    height: 450px;
    overflow: auto;
}
.table th {
    color: black;
    background-color: rgba(248, 161, 237, 0.85);
}
.table td {
    color: black;
    text-align: center;
    padding: 10px;
}

.text label {
    margin-top: 25px;
}

.main_container {
    position: fixed;
    left: 30%;
    top: 25%;
    width: 40%;
    height: 50%;
    background-color: rgba(203, 119, 193, 0.85);
    color: white;
    border-radius: 50px;
}

.info {
    display: flex;
    justify-content: space-around;
}

.param {
    margin-top: 2%;
    height: 34px;
    width: 250px;
    color: black;
    background-color: rgba(248, 161, 237, 0.85);
    border: 1px black solid;
    border-radius: 20px;
    padding-left: 40px;
}

.x {
    margin-top: 20%;
}

.param_numbers {
    margin-left: 150px;
    color: #676767;
}

.column {
    display: block;

}

.block {
    position: relative;
    margin-top: 20%;
    height: 110px;
    width: 250px;
    color: black;
    background-color: rgba(248, 161, 237, 0.85);
    border: 1px black solid;
    border-radius: 20px;
    text-align: center;
    padding-top: 5%;
}

.block span {
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: #676767;
    font-size: 20px;
}

.link {
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
}

.cross {
    cursor: pointer;
    right: 6px;
    top: 10px;
}

.cell {
    right: 62px;
    top: 10px;
    cursor: pointer;
}
.table_container {
    width: 80%;
    margin-left: 10%;
    margin-top: -280px;
    height: 395px;
    overflow: auto;
}
.table {
    width: 100%;
    font-size: 20px;
}
.table th {
    color: black;
    background-color: rgba(248, 161, 237, 0.85);
}
.table td {
    color: black;
    text-align: center;
    padding: 10px;
}
@media (max-height: 750px) {
    .table_container {
        height: 300px;
    }
}
@media (max-width: 1250px) {
    .block {
        width: 200px;
        font-size: 20px;
    }

    .param {
        width: 200px;
    }

    .param_numbers {
        margin-left: 75px;
    }

}
@media (max-width: 1000px) {
    .block {
        width: 125px;
        font-size: 15px;
        margin-top: 42%;
    }
    .block span {
        font-size: 14px;
    }
    .param {
        width: 125px;
        line-height: 31px;
        font-size: 20px;
        padding-left: 17px;
    }

    .x {
        margin-top: 42%;
    }
}
@media (max-width: 600px) {
    .main_container {
        width: 70%;
        left: 15%;
    }
}



